<p>login works!</p>
<p>login works!</p>
<form action="" (ngSubmit)="save()" #myform="ngForm">
    
 <div>
     <label for="">username</label>
    
<input type="text" name="username" class="form-control" minlength="3" maxlength="20" required [(ngModel)]="model.username" #username="ngModel" value="" id=""></div>
<div *ngIf="username.invalid && (username.dirty || username.touched)"
class="alert alert-danger">
username is invalid

</div>
<div>
    <label for="">password</label>
    <!-- <div *ngIf="username.errors.required">
        Name is required.
      </div> -->
    <input type="password" name="password" class="form-control" required [(ngModel)]="model.password" value="" id="" >
</div>
 
<input type="submit"[disabled]="!myform.form.valid" value="login">
 

</form>
